<app-ArtistNavegation></app-ArtistNavegation>

<body class="imageBackground">
<div class="Title">
  Look for the most emotional events of the artists
</div>
<mat-card class="example-card-event2">
  <div class="img-card"></div>
    <div class="text-post">
      <h1>Create Event</h1>
      <h5>Let other fans know about your art </h5>
    </div>
    <button mat-fab class="add" (click)="insertevent()" id="add"><mat-icon>add</mat-icon></button>
</mat-card>

<mat-grid-list cols="2" rowHeight="500px">
  <mat-grid-tile *ngFor ="let arr of arrayevents">
      <mat-card class="example-card-event">
        <div class="left-column background1-left-column" *ngFor ="let arr2 of arrayusers">
          <div *ngIf = "arr.artist.id == arr2.id" class="text">
              <div class="icons-manageEvents">
                  <mat-icon class="edit" (click)="updateEvent(arr.id)">edit</mat-icon>
                  <mat-icon class="delete" (click)="deleteEvent(arr.id)">delete</mat-icon>
              </div>
                    <h1>{{arr.name}}</h1>
          </div>
          <div fxFlex="10" *ngIf = "arr.artist.id == arr2.id">
            <app-imageforlist [artist]="arr2.id" class="imageEvent"></app-imageforlist>
          </div>
        </div>

        <div class="right-column">
          <div *ngFor ="let arr2 of arrayusers">
            <div *ngIf = "arr.artist.id == arr2.id" class="text2">
                <h1>{{arr2.realname}} {{arr2.lastname}}</h1>
                <p>{{arr.description}}</p>
            </div>
          </div>
          <div>
          <app-Opinion [content]="arr" [user]="idevent" class="content"></app-Opinion>
                <div class = "minipadding"></div>
                <p>{{arr.eventlikes}}</p>
          </div>
          <div *ngIf="checkislickisinevent(arr.ticketLink)" class="link">
            <a href="{{arr.ticketLink}}" id="tikcetlink"><button mat-button><mat-icon>link</mat-icon></button></a>
          </div>
        </div>
      </mat-card>
  </mat-grid-tile>
</mat-grid-list>

</body>
