<body class="imageRegister">
  <div class="cardRegister">
  <img src="https://cdn.discordapp.com/attachments/866839251563446272/893007021786419200/Logo_Fortlom_JavaBoys.png" class="logo">
  <form [formGroup]="signupform" class="form"  (submit)="onSubmit()">

    <div class="form-group">

      <input formControlName="email" [(ngModel)]="user.email" matInput type="email" class="form-control form-control-lg" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" requiered >
      <mat-error *ngIf="signupform.controls['email'].dirty && signupform.hasError('required','email')">Es requerido</mat-error>
    </div>
    <p></p>
    <div class="form-group" >

      <input formControlName="password"   [(ngModel)]="user.password" matInput type="password" class="form-control form-control-lg" id="exampleInputPassword1" placeholder="Password" required>
      <mat-error *ngIf="signupform.controls['password'].dirty && signupform.hasError('required','password')">Es requerido</mat-error>

    </div>

<p></p>
    <div class="form-group">

      <input  formControlName="username"  [(ngModel)]="user.username" matInput type="Name" class="form-control form-control-lg" id="exampleInputUserName1" placeholder="Name" required>
      <mat-error  *ngIf="signupform.controls['username'].dirty && signupform.hasError('required','username')">Es requerido</mat-error>
    </div>

<p></p>

    <div class="form-group">

      <input  formControlName="name"  [(ngModel)]="user.realname" matInput type="Name" class="form-control form-control-lg" id="exampleInputName1" placeholder="Name" required>
      <mat-error  *ngIf="signupform.controls['name'].dirty && signupform.hasError('required','name')">Es requerido</mat-error>
    </div>



<p></p>

    <div class="form-group">

      <input formControlName="lastname" [(ngModel)]="user.lastname"  matInput type="LastName" class="form-control form-control-lg" id="exampleInputLastName1" placeholder="LastName" required>
      <mat-error  *ngIf="signupform.controls['lastname'].dirty && signupform.hasError('required','lastname')">Es requerido</mat-error>
    </div>
    <div class="form-group">
      <p></p>

      <input formControlName="alias" [(ngModel)]="user.fanaticalias"  matInput type="alias" class="form-control form-control-lg" id="exampleInputalias" placeholder="Alias" required>
      <mat-error  *ngIf="signupform.controls['alias'].dirty && signupform.hasError('required','alias')">Es requerido</mat-error>
    </div>
    <p></p>

    <button type="submit"  [disabled]="!signupform.valid" mat-raised-button color="primary" class="but" id="enter">Register as Fanatic</button>



  </form>
  <div>
  <b><a routerLink="/login"  style="color:#000000;" class="link">I have a account</a></b>
  </div>
  </div>
</body>