.imagebackground{
  background-image: url(./fondo.jpg);
  background-size: cover;
  height: 100%;
  width: 100%;
  position: fixed;
  background-position: 50% 50%;
  padding: 2rem ;
  overflow: auto;
}

.cardcontent{
  background-color:#f9f9f9;
  border-radius: 1rem;
  box-shadow: 0  1rem 1rem rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 40rem;
  height: auto;
}

.text{
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 40px;
line-height: 47px;
padding: 15px;
}
.example-full-width{

    padding: 15px;


}
table, th, td {
   
    padding: 10px;
  }
  table {
    border-spacing: 15px;
  }
  .box{
    width: 500px;
  }