<h1 mat-dialog-title class="text-center">Select a premium plan</h1>
<br>
<div mat-dialog-content>
  <div style="display: inline-flex;">
    <button matDialogClose mat-button (click)="UpgradeArtist()">
      <img src="assets/images/planlogo.jpg" style="width: 150px;">
      <br>
      <br>
      <h1>S/40 Premium </h1>
    </button>
    <div style="padding-right: 10px;"></div>
    <button matDialogClose mat-button (click)="UpgradeArtist()">
      <img src="assets/images/planlogo.jpg" style="width: 150px;">
      <br>
      <br>
      <h1>S/80 Premium </h1>
    </button>
    <div style="padding-right: 10px;"></div>
    <button matDialogClose mat-button (click)="UpgradeArtist()">
      <img src="assets/images/planlogo.jpg" style="width: 150px;">
      <br>
      <br>
      <h1>S/120 Premium </h1>
    </button>
  </div>
</div>