<mat-card class="seconcard">
    <mat-card-title class="title">Escriba un comentario</mat-card-title>
    <mat-form-field appearance="fill" class="area" [formGroup]="newcommentform">
      <mat-label>Nuevo Comentario </mat-label>
      <textarea formControlName="comment" matInput type="comment" [(ngModel)]="Forumcomment.commentdescription" id="commentforum">pjjjj</textarea>
    </mat-form-field>
    <div class="button-row">
      <button mat-raised-button  color="primary" [disabled]="!newcommentform.valid" (click)="crearcomentariodeforo()" id="acceptcommentforum"> <mat-icon>add</mat-icon>Aceptar</button>
      <button  mat-raised-button  color="warn" (click)="Limpiar()"> <mat-icon>close</mat-icon>Limpiar</button>
    </div>
  </mat-card>
