<style>
  .center {
    text-align: center;
  }
</style>
<div class="center">
  <button mat-raised-button (click)="getPosts()" id="seeposts">See Posts</button>
</div>
<div *ngIf="haveInfo">
  <div *ngFor="let a of studentData">
    <br/>

    <app-post
      [fullPost]="a"
    >
    </app-post>
    <app-comment-form [postId]="a.id"></app-comment-form>
    <br>
    <br>
    <br>
  </div>
</div>
<div *ngIf="haveInfo == false">
 <div style="padding-bottom: 35.5%;"></div>
 <div *ngIf="isFanatic == true">
  <div style="padding-bottom: 6%;"></div>
  </div>
</div>
