*{
  padding: 0;
  margin: 0;
}



.introTitle{
  
  font-family: Arial, Helvetica, sans-serif;
  color:whitesmoke;
  
  font-style: normal;
  font-size: 60px;
  font-weight: bold;
  -webkit-text-stroke:0.25px;
  -webkit-text-stroke-color: black;
  position: absolute;
  top: 65px;
  left: 0;
  right: 0;
  line-height: 1.0em;
  margin-left: 300px;
  margin-right: 300px;
  
  }

  .basic-container {
    text-align: center;
    color: white;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: fixed;
    background-position: 50% 50%;
    padding-top: 2rem;
    overflow: auto;
    background-image: url(./artistlist.jpg);
    
  }
  
  .artist-cards{
  position: absolute;
  top: 200px;
  left: 0;
  right: 0;
  margin-left: 60px;
  margin-right: 60px;
  }

  .artistName{
    color: black;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bolder;
    font-size: 25px;
    margin-top: 10px;
    
  }

  .artistRate{
    color: black;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:normal;
    font-size: 20px;
    margin-top: 10px;
    
    
  }

.cardContent{
  background-color: white;
}

.artistBio{
  margin-top: 10px;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 15px;
}


.following{
  text-align: left;
  
}