

<app-fanaticnavigation></app-fanaticnavigation>
<body>

<section class="full">
<div class="full-inner">
<div class="content">

<img src="assets/PortadaF.png" class="responsive">
<div>
  
  <tr>
    <td style="table-layout: fixed; border-collapse: collapse;">
        <marquee direction="right" style="background-color: black;">
            <table>
            
            <tr>
            <td>
            <img src="assets/banner.png"  />
            </td>
            </tr>
            </table>
        </marquee>
    </td>
</tr>
</div>
<div style="position: fixed;bottom: 20px;right: 20px; line-height: 55px;text-align: center;border-radius: 50%;background-color: black; color: white;">
    <button mat-button (click)="GoToChatBot()"><mat-icon>android</mat-icon></button>
  </div>
  
</div>
</div>
</section>


</body>