*{
  padding: 0;
  margin: 0;
}

.imagelogin{
  background-image: url(./LoginImage.png);
  background-size: cover;
  height: 100%;
  width: 100%;
  position: fixed;
  background-position: 50% 50%;
  padding-top: 2rem;
  overflow: auto;
    }

.cardLogin{
  max-width: 40%;
  border-radius: 1.0rem;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  background-color: whitesmoke;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  justify-items: center;
  margin: 0 auto;
  }

  .but{
    font-size: 25px;
    color:rgb(0, 0, 0);
    background-color: rgb(212, 175, 55);
    margin: auto;
  }

.link{
      font-size: 15px;
      word-spacing:4px;
      line-height: 60px;
      margin: 16px;
      }

.form-control{
  padding: 0.520rem; 
  font-size: 1.8rem;
  border: 0.5px solid rgb(218, 218, 218);
  border-radius: 1.5rem;
  outline: none;
  transition: all .3s;     
  }

  .logo{
    width: 20rem;
    height: 20rem;
    margin-top: 1rem;
  }