<body class="imagelogin">
  <div class="cardLogin">
  <img src="https://cdn.discordapp.com/attachments/866839251563446272/893007021786419200/Logo_Fortlom_JavaBoys.png" class="logo">

<form [formGroup]="loginform" class="form" >
<div class="form-group">
  
  <input formControlName="email" matInput type="email" class="form-control form-control-lg" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" requiered >
  <mat-error *ngIf="loginform.controls['email'].dirty && loginform.hasError('required','email')" class="bad">Es requerido</mat-error>
</div>
<p></p>
<div class="form-group" >

  <input formControlName="password" matInput type="password" class="form-control form-control-lg" id="exampleInputPassword1" placeholder="Password" required>
  <mat-error *ngIf="loginform.controls['password'].dirty && loginform.hasError('required','password')" class="bad">Es requerido</mat-error>

</div>

<p></p>

<button type="submit"  [disabled]="!loginform.valid" mat-raised-button color="primary" id="enter" class="but" (click)="onSubmit()" style="padding-right: 5px; padding-left: 5px;">Ingresar</button>
</form>

    <div>
      <b><a routerLink="/registerfanatic"  style="color:#000000;" class="link">Register yourself as a fan</a></b>
      <b><a routerLink="/registerartist" style="color:#000000;" class="link">Register yourself as an artist</a></b>
    </div>
    <div>
    <b><a routerLink="/sendemail" style="color:#000000;" class="link">You Forgot your Password</a></b>
    </div>
    <div>
    <b><a routerLink="/adminlogin"  style="color:	#FF0000;" class="link">I am a Admin</a></b>
    </div>
    
  </div>
</body>