.imageBackground{
    background-image: url(./event.jpg);
    background-size: cover;
    height: 100%;
    width: 100%;
    position: fixed;
    background-position: 50% 50%;
    padding-top: 2rem;
    overflow: auto;
  }

  .cardcontent{
    border-radius: 1rem;
    border: 3px solid #fff;
    margin: 2rem;
    width: 30%;
  }

  .input1{
    margin: 1rem;
  }
  .input2{
    margin: 1rem;
  }

  .button-post{
    background-color:#cca027;
    border-radius: 1rem;
    margin: 2rem;
    width: 9%;
  }

  .text{
    font-family: Arial, Helvetica, sans-serif;
    color:white;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    padding: 15px;
  }