<app-ArtistNavegation></app-ArtistNavegation>
<body>
  <section class="full">
    <div class="full-inner">
    <div class="content">
      <img src="assets/Portada.png" class="responsive">
      <div>
        
        <tr>
          <td style="table-layout: fixed; border-collapse: collapse;">
              <marquee direction="right" style="background-color: black;">
                  <table>
                  
                  <tr>
                  <td>
                  <img src="assets/banner.png"  />
                  </td>
                  </tr>
                  </table>
              </marquee>
          </td>
      </tr>
      </div>
      
      
      

    </div>
    </div>
    </section>






 


</body>
