<style>
  .post-form-mat-card {
    width: calc(90%);
    margin: auto;
  }
  .example-full-width {
    width: 100%;
  }
  .medium-width {
    width: calc(50%);
    margin:auto;
  }
</style>
<br>
<mat-card class="post-form-mat-card" style="border-radius: 20px;">
  <mat-card-title style="font-family: Arial, Helvetica, sans-serif; font-weight: bold; padding-top: 8px;">Publicaciones Fortlom!</mat-card-title>
  <br>
  <mat-form-field appearance="outline" class="example-full-width">
    <textarea #txt matInput placeholder="Ingrese la descripción de su publicación" id="setPost"></textarea>
  </mat-form-field>
  <mat-card-actions align="end" style="padding-bottom: 10px;">
    <button mat-button (click)="OpenMultimedia()" id="buttonClip"><mat-icon>image</mat-icon></button>
    <button mat-raised-button (click)="postPost(txt)" value="upload" id="buttonPost">Post</button>
    <div style="padding-right: 10px;"></div>
  </mat-card-actions>
</mat-card>

<div *ngIf="multimediaDialog">
  <br>
  <mat-card class="medium-width" style="border-radius: 20px;">
    <input
      #txtDialog1
      matInput
      placeholder="Example: https://content.ext"
      type="text"
    >
    <input type="file" (change)="onFileChanged($event)"  accept="image/png, image/jpeg, image/gif" id="setimage" #imagenInputFile>

    <mat-card-actions align="end" style="padding-bottom: 10px;">
      <button mat-button  (click)="multimediaDialog = false" id="buttonClose">Close</button>
      <button mat-raised-button 
              (click)="getLinkFromDialog(txtDialog1); multimediaDialog = false" id="buttonAppend">Add</button>
      <div style="padding-right: 10px;"></div>
    </mat-card-actions>
  </mat-card>
</div>
