.basic-container {
    text-align: center;
    color: white;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: fixed;
    overflow: auto;
    background-color: black;
}
.mat-card-oneAlbum{
  background-image: url("https://wallpaperaccess.com/full/496298.jpg");
  background-repeat: no-repeat;
  background-size: 100% 150%;
  background-position: center 50%;
  padding: 50px;
  text-align: center;
}
.cardMusic-Content{
  background-color: #F5F5F5;
  color: black;
}
.add{
  background-color: #FD8D14;
}
.add:hover{
  background-color: #FFB000;
  scale: 1.2;
}

